.auth {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .auth-block {
    width: 80%;
    height: 80%;

    .auth-button {
      padding: 15px 30px;
      float: right;
      background-color: #3c9eee;
      border: 0;
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      cursor: pointer;
    }
  }
}
